@model IEnumerable<OperatorManagementBL.DTOs.SimDetailDTO>

@{
    ViewBag.Title = "مدیریت سیم‌کارت های حذف شده";
}

<h2>مدیریت سیم‌کارت های حذف شده</h2>
<hr />
<p>
    <a href="@Url.Action("Index")" class="btn btn-info text-white">بازگشت به لیست</a>
</p>
<table class="table" id="mtable">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SimType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int i = 1;
        }
        @foreach (var item in Model)
        {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SimType)
            </td>
            <td>
                @Html.ActionLink("لغو حذف", "UnDelete", new { id = item.Id }, new { @class = "btn btn-danger text-white" })
            </td>
        </tr>
            i++;
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#mtable").DataTable({
            "language": { "emptyTable": "موردی یافت نشد", "search": "جستجو:", "paginate": { "first": "اول", "last": "آخر", "next": "بعدی", "previous": "قبلی" }, "info": "نمایش _START_ از _END_ از _TOTAL_ نتیجه", "lengthMenu": "نمایش _MENU_ نتیجه" },
            "width": "100%"
        });
    </script>
}