@model OperatorManagementBL.DTOs.SimDTO

@{
    ViewBag.Title = "ویرایش مشخصات سیم‌کارت";
}

<h2>ویرایش مشخصات سیم‌کارت </h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">

        <div class="my-3">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "form-text text-danger" })
        </div>

        <div class="my-3">
            <label class="form-label" for="Person_Id">مالک سیمکارت</label>
            @Html.DropDownList("Person_Id", null, "انتخاب کنید", htmlAttributes: new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.Person_Id, "", new { @class = "form-text text-danger" })
        </div>

        <div class="my-3">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-label" })

            <div class="d-flex flex-row gap-2">
                <span>
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check", id = "IsActive", onchange = "changeIsActiveLabel()" })
                </span>
                <span id="isActiveLabel">غیرفعال</span>
            </div>
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "form-text text-danger" })
        </div>

        <div class="my-3">
            <label class="form-label" for="Person_Id">نوع سیمکارت</label>
            @Html.DropDownList("SimType_Id", null, "انتخاب کنید", htmlAttributes: new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.SimType_Id, "", new { @class = "form-text text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">ثبت</button>
        @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-info text-white mx-2" })
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            if ($("#IsActive").is(':checked')) {
                $("#isActiveLabel").html("فعال");
            } else {
                $("#isActiveLabel").html("غیرفعال");
            }
        });
    </script>
}