@model IEnumerable<OperatorManagementBL.DTOs.SimDetailDTO>

@{
    ViewBag.Title = "مدیریت سیم‌کارت ها";
}

<h2>مدیریت سیم‌کارت ها</h2>
<hr />
<p>
    <a href="@Url.Action("Create")" class="btn btn-success text-white"><i class="fa fa-plus mx-1"></i>افزودن</a>
    <a href="@Url.Action("DeletedSims")" class="btn btn-primary text-white"><i class="fa fa-trash mx-1"></i>مدیریت سیم‌کارت های حذف شده</a>

</p>
<table class="table" id="mtable">
    <thead>
        <tr>
            <th>
                ردیف
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SimType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SimType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td class="d-flex gap-1 flex-wrap">
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-warning text-white" })
                    @Html.ActionLink("مشاهده", "Details", new { id = item.Id }, new { @class = "btn btn-info text-white" })

                    @if (item.SimTypeId == (int)OperatorManagementBL.Enum.SimTypeEnum.credit)
                    {
                        @Html.ActionLink("شارژ سیم‌کارت", "Wallet", new { id = item.Id }, new { @class = "btn btn-success text-white" })
                    }
                    else
                    {
                        @Html.ActionLink("پرداخت قبض", "Wallet", new { id = item.Id }, new { @class = "btn btn-success text-white" })
                    }

                    @Html.ActionLink("سوابق مالی", "ChargeLog", new { id = item.Id }, new { @class = "btn btn-primary text-white" })

                    @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-danger text-white" })
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#mtable").DataTable({
            "language": { "emptyTable": "موردی یافت نشد", "search": "جستجو:", "paginate": { "first": "اول", "last": "آخر", "next": "بعدی", "previous": "قبلی" }, "info": "نمایش _START_ از _END_ از _TOTAL_ نتیجه", "lengthMenu": "نمایش _MENU_ نتیجه" },
            "width": "100%"
        });
    </script>
}