<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - سیستم مدیریت اپراتور</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/dataTable1.13.8/datatables.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
</head>
<body dir="rtl">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            <div class="d-flex justify-content-between w-100">
                @Html.ActionLink("سیستم مدیریت اپراتور", "Index", "Home", null, new { @class = "fs-5 fw-bold" })
                @if (Session["UserId"] != null)
                {
                <a href="@Url.Action("Logout","User")">
                    <div class="btn btn-secondary d-flex align-items-center fs-7"><i class="fas fa-sign-out-alt mx-1"></i><span>خروج از حساب</span></div>
                </a>
                }
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home")" class="nav-link align-middle px-0">
                                <i class="fs-6 fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">صفحه اصلی</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","User")" class="nav-link px-0 align-middle">
                                <i class="fs-6 fa fa-user-cog"></i> <span class="ms-1 d-none d-sm-inline">مدیریت کاربران</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Person")" class="nav-link px-0 align-middle">
                                <i class="fs-6 fa fa-users"></i> <span class="ms-1 d-none d-sm-inline">مدیریت اشخاص</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Sim")" class="nav-link px-0 align-middle">
                                <i class="fs-6 fas fa-sim-card"></i> <span class="ms-1 d-none d-sm-inline">مدیریت سیمکارت ها</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Transactions","Home")" class="nav-link px-0 align-middle">
                                <i class="fs-6 fa fa-list"></i> <span class="ms-1 d-none d-sm-inline">لیست تماس‌ها و پیام‌ها</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Cost")" class="nav-link px-0 align-middle">
                                <i class="fs-6 fa fa-dollar-sign"></i> <span class="ms-1 d-none d-sm-inline">تغییر تعرفه</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col py-3">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/fontawesome/js/all.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/dataTable1.13.8/datatables.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
