@using OperatorManagementBL.Extensions
@model OperatorManagementBL.DTOs.TransactionPageDTO


@{
    ViewBag.Title = "لیست تماس‌ها و پیامک‌ها";
}

<h2>لیست تماس‌ها و پیامک‌ها</h2>
<hr />
<!-- Filter Modal -->
<div class="modal fade" id="filterModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center w-100">
                    <div class="fs-5 fw-bold"><span>فیلترها</span> <a class="mx-3 fs-7 text-primary" href="@Url.Action("Transactions")">(حذف همه)</a></div>
                    <div><a data-bs-dismiss="modal"><i class="fa fa-times"></i></a></div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <form method="get" class="d-flex flex-column gap-2" id="filterFormId">
                        <input type="hidden" name="sortType" id="sortType" />
                        <input type="hidden" name="search" id="search" />
                        <input type="hidden" name="pageId" id="pageId" />
                        <input type="hidden" class="observer-fromDate-alt" name="fromDate" id="fromDate" />
                        <input type="hidden" class="observer-toDate-alt" name="toDate" id="toDate" />
                        @{
                            DateTime? toDate = null;
                            if (!string.IsNullOrEmpty(Request["toDate"]))
                            {
                                toDate = long.Parse(Request["toDate"]).ToGeorgianDateTimeFromUnixTimeStamp();
                            }

                            DateTime? fromDate = null;
                            if (!string.IsNullOrEmpty(Request["fromDate"]))
                            {
                                fromDate = long.Parse(Request["fromDate"]).ToGeorgianDateTimeFromUnixTimeStamp();
                            }
                        }
                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">بعد از</label>
                            <input type="text" class="pd-fromDate form-control" value="@(fromDate.HasValue?fromDate.Value.ToJalaliDateTime():"")" />
                            <span onclick="$('#fromDate').val('');$('.pd-fromDate').val('')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">قبل از</label>
                            <input type="text" class="pd-toDate form-control" value="@(toDate.HasValue?toDate.Value.ToJalaliDateTime():"")" />
                            <span onclick="$('#toDate').val('');$('.pd-toDate').val('')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">از شماره</label>
                            @Html.DropDownList("fromSimId", (SelectList)ViewBag.Sim_Id, "انتخاب کنید", htmlAttributes: new { @class = "form-select", name = "fromSimId", id = "fromSimId" })
                            <span onclick="$('#fromSimId').val('')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">به شماره</label>
                            @Html.DropDownList("toSimId", (SelectList)ViewBag.Sim_Id, "انتخاب کنید", htmlAttributes: new { @class = "form-select", name = "toSimId", id = "toSimId" })
                            <span onclick="$('#toSimId').val('')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">

                            <label class="text-nowrap">از شخص</label>
                            @Html.DropDownList("fromPersonId", (SelectList)ViewBag.Person_Id, "انتخاب کنید", htmlAttributes: new { @class = "form-select", name = "fromPersonId" })
                            <span onclick="$('#fromPersonId').val('')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">به شخص</label>
                            @Html.DropDownList("toPersonId", (SelectList)ViewBag.Person_Id, "انتخاب کنید", htmlAttributes: new { @class = "form-select", name = "toPersonId" })
                            <span onclick="$('#toPersonId').val(0)"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">کمتر از (دقیقه)</label>
                            <input type="number" id="durationLessThan" name="durationLessThan" class="form-control text-start" value="0" min="0" />
                            <span onclick="$('#durationLessThan').val('0')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">بیشتر از (دقیقه)</label>
                            <input type="number" id="durationMoreThan" name="durationMoreThan" class="form-control text-start" value="0" min="0" />
                            <span onclick="$('#durationMoreThan').val('0')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center gap-3 w-100">
                            <label class="text-nowrap">نوع</label>
                            <select class="form-select" name="typeId" id="typeId">
                                <option value>انتخاب کنید</option>
                                <option value="@((int)OperatorManagementBL.Enum.TransactionTypeEnum.call)">تماس</option>
                                <option value="@((int)OperatorManagementBL.Enum.TransactionTypeEnum.sms)">پیامک</option>
                            </select>
                            <span onclick="$('#typeId').val('')"><i class="fa fa-trash text-primary" style="cursor:pointer"></i></span>
                        </div>

                        <input type="submit" value="جستجو" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row flex-nowrap justify-content-between align-items-center gap-3 mt-3">
    <div class="d-flex flex-row flex-nowrap align-items-center gap-3 mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
            فیلترها
        </button>
        <div><span style="color:#ccc">|</span></div>
        <div class="fw-bold">
            <i class="fas fa-sort-amount-down-alt mx-1"></i>
            <span>مرتب سازی:</span>
        </div>
        <div class="d-flex flex-row flex-nowrap align-items-center gap-3 m-sort-items-container">
            @{
                int selectedSortItem = 0;
                if (!string.IsNullOrEmpty(Request["sortType"]))
                {
                    selectedSortItem = int.Parse(Request["sortType"]);
                }
            }
            <a onclick="submitFilterForm(@((int)OperatorManagementBL.Enum.SortTypeEnum.Newest))" class="@(selectedSortItem == (int)OperatorManagementBL.Enum.SortTypeEnum.Newest ? "active" : "")">جدیدترین</a>
            <a onclick="submitFilterForm(@((int)OperatorManagementBL.Enum.SortTypeEnum.Oldest))" class="@(selectedSortItem == (int)OperatorManagementBL.Enum.SortTypeEnum.Oldest ? "active" : "")">قدیمی‌ترین</a>
            <a onclick="submitFilterForm(@((int)OperatorManagementBL.Enum.SortTypeEnum.Longest))" class="@(selectedSortItem == (int)OperatorManagementBL.Enum.SortTypeEnum.Longest ? "active" : "")">طولانی‌ترین</a>
        </div>
    </div>
    <div><span>نتایج @Model.ResultCount عدد</span></div>
</div>

<div class="d-flex flex-row flex-nowrap align-items-center gap-3 mt-2">
    <input id="searchAlt" type="search" class="form-control" placeholder="جستجو..." />
    <a onclick="submitFilterForm(null)" class="btn btn-primary"><i class="fa fa-search"></i></a>
</div>

<div class="table-responsive mt-3">
    <table class="table table-striped shadow">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                تاریخ و ساعت
            </th>
            <th>
                نوع
            </th>
            <th>
                مدت (مکالمه)
            </th>
            <th>
                شخص مبدا
            </th>
            <th>
                شماره مبدا
            </th>
            <th>
                شخص مقصد
            </th>
            <th>
                شماره مقصد
            </th>

        </tr>

        @foreach (var item in Model.TransactionsList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RowNumber)</td>
                <td>
                    @item.Date.ToJalaliDateTime()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @if (item.Duration != null)
                    {
                        @Html.DisplayFor(modelItem => item.Duration)
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromSimNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToSimNumber)
                </td>

            </tr>
        }

    </table>
</div>

@if (Model.PageCount > 1)
{
    <ul class="pagination justify-content-center flex-wrap mt-4 fs-8">
        <li class="page-item @(Model.CurrentPage==1?"d-none":"")">
            <a class="page-link" onclick="submitFilterFormPagination(@(Model.CurrentPage-1))" href="#">قبلی</a>
        </li>

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(Model.CurrentPage==i?"active":"")">
                <a onclick="submitFilterFormPagination(@i)" href="#" class="page-link">@i</a>
            </li>
        }

        <li class="page-item @(Model.PageCount==Model.CurrentPage?"d-none":"")">
            <a onclick="submitFilterFormPagination(@(Model.CurrentPage+1))" href="#" class="page-link">بعدی</a>
        </li>
    </ul>
}

@section styles{
    <link href="~/Content/persianDatePicker/persian-datepicker.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/persianDatePicker/persian-date.min.js"></script>
    <script src="~/Content/persianDatePicker/persian-datepicker.min.js"></script>

    <script>
        $(function () {
            $('#fromSimId').val(getParameterByName('fromSimId'));
            $('#toSimId').val(getParameterByName('toSimId'));
            $('#fromPersonId').val(getParameterByName('fromPersonId'));
            $('#toPersonId').val(getParameterByName('toPersonId'));
            $('#typeId').val(getParameterByName('typeId'));
            $('#fromDate').val(getParameterByName('fromDate'));
            $('#toDate').val(getParameterByName('toDate'));
            $('#search').val(getParameterByName('search'));
            $('#searchAlt').val(getParameterByName('search'));
            $('#durationLessThan').val(getParameterByName('durationLessThan'));
            $('#durationMoreThan').val(getParameterByName('durationMoreThan'));

            $(".pd-toDate").persianDatepicker({
                observer: true,
                format: 'HH:mm:ss - YYYY/MM/DD',
                altField: '.observer-toDate-alt',
                timePicker: { enabled: true },
                initialValue: false
            });

            $(".pd-fromDate").persianDatepicker({
                observer: true,
                format: 'HH:mm:ss - YYYY/MM/DD',
                altField: '.observer-fromDate-alt',
                timePicker: { enabled: true },
                initialValue: false
            });
        });
    </script>
}
