@model OperatorManagementBL.DTOs.PersonDTO

@{
    ViewBag.Title = "حذف شخص";
}

<h2> حذف شخص</h2>
<h3>آیا از حذف این شخص مطمئن هستید؟</h3>
<hr />
<div class="alert alert-danger">
    <i class="fas fa-exclamation-circle mx-1"></i>
    با حذف شخص کلیه سیمکارت های متعلق به وی نیز حذف خواهند شد
</div>

<dl class="row mt-4">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NationCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.NationCode)</dd>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <dt class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger text-white" />
            @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-info text-white mx-2" })
        </dt>
    }
</dl>