@model OperatorManagementBL.DTOs.PersonDTO

@{
    ViewBag.Title = "مشاهده اطلاعات شخص";
}

<h2>مشاهده اطلاعات شخص</h2>
<hr />
<dl class="row mt-4">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NationCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.NationCode)</dd>

    <p class="mt-3">
        @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-info text-white" })
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning text-white mx-2" })
    </p>
</dl>


